/**
* Para tener diferentes skin debemos crear tantos archivos como skin definidos en 
* la base de datos y el nombre del archivo debe coincidir con la clave 
* ejemplo si la clave es MYS.SKN.DHZ.DBS debemos generar el estilo MYS_SKN_DHZ_DBS.css
*
* Para generar cada tema modificar las variables y compilar el less 
* $ lessc styles.less ../MYS_SKN_DHZ_DBS.css -x
*/
.static-page .content-static button {
  background: #ff0080;
  outline-color: #150067;
  color: #ffffff;
}
.static-page .content-static button:hover {
  background: #150067;
}
.header-follow-us {
  display: none;
}
.errors-container .parsley-errors-list > li {
  color: white;
}
body #burger_menu {
  background: #ff0080;
  border-top: none;
  border-top: 0px;
}
body #burger_menu .burger .icon-bar {
  background: #ffffff;
}
@media (max-width: 767px) {
  body #burger_menu .burger .icon-bar {
    background: #150067;
  }
}
body #header {
  background: #ffffff;
}
body #header .logo img {
  max-height: 80px!important;
}
body #header .not-user {
  color: #ffffff;
  background: #ff0080;
}
body #header .buttons-navigation {
  background: #ff0080;
}
@media (max-width: 767px) {
  body #header .buttons-navigation {
    background: #ffffff;
  }
}
body #header .buttons-navigation .nav-buttons {
  background: #ff0080;
  color: #ffffff;
}
body #header .buttons-navigation .nav-buttons a.active {
  color: #150067;
}
body #header .buttons-navigation .nav-buttons a:hover {
  color: #150067;
}
@media (max-width: 767px) {
  body #header .buttons-navigation .nav-buttons {
    background: #ffffff;
    color: #150067;
  }
}
body #search .container #full #data {
  border-top-color: #150067;
  background: rgba(21, 0, 103, 0.5);
  color: #ffffff;
}
body #search .container #full #data #rooms .room {
  background: rgba(21, 0, 103, 0.6);
}
body #search .container #full #data input {
  color: #333;
  outline-color: #150067;
}
body #search .container #full #data .data-form-footer button {
  background: #ff0080;
  outline-color: #150067;
}
body #search .container #full #data .data-form-footer button:hover {
  background: #150067;
}
body #search .container #full #data label {
  color: #ffffff;
}
body #search #categories-selector {
  background: rgba(255, 0, 128, 0.7);
}
body #search #categories-selector .owl-stage-outer li {
  color: #ffffff;
}
body #search #categories-selector li a:hover {
  color: #150067;
}
body #search #categories-selector li.active {
  background: #150067;
}
@media (max-width: 767px) {
  body #search #categories-selector li.active {
    background: #150067;
  }
}
body #search #categories-selector li.active:after {
  border-color: #ff0080 transparent transparent;
}
.silver button {
  background: #ff0080 !important;
}
.silver button:hover {
  background: #150067 !important;
}
.silver #header #menu_currency {
  color: #150067;
}
.silver #header #menu_personalized {
  color: #150067;
}
.select2-container--default.select2-container--focus .select2-selection--multiple:hover,
.select2-container--default.select2-container .select2-selection--multiple:hover {
  border-color: #150067;
}
#menu_currency {
  background: #150067;
}
.black .silver #menu_personalized {
  background: #ff0080;
}
.black .silver #menu_personalized a:hover {
  color: #150067;
}
.black .silver #menu_personalized .menu-personalized-card {
  color: #150067;
}
body #menu_personalized li .name {
  color: #150067;
}
.menu-toggler {
  color: #ffffff;
}
@media (max-width: 767px) {
  .menu-toggler {
    color: #150067;
  }
}
body #menu_personalized li a {
  color: #150067;
}
#slider_hotels .owl-dots .owl-dot {
  border: 2px solid #fff;
}
#menu_pages li a:hover,
#menu_pages li a:hover span:before {
  color: #150067;
}
.resultadohoteles-slide-content .h-breadcrum-place a.back,
.fa-angle-left:before {
  color: white;
}
#destinies {
  background: #ffffff;
  color: black;
}
#destinies .owl-dots .owl-dot {
  border-color: #150067;
}
#destinies .owl-dots .owl-dot.active {
  background: #150067;
}
#destinies .slide .info .box h1 {
  color: #ff0080;
}
#destinies .slide .info .box h1:after {
  height: 3px;
  background: #ff0080;
}
#destinies .slide .info .box .align .name {
  color: #150067;
}
#destinies button {
  color: #150067;
  border-color: #150067;
}
#search #data input[type=text]:focus {
  border-color: #150067;
}
.ficha-hotel-header .hotel-actions .item-menu-right a.active,
.ficha-hotel-header .hotel-actions .item-menu-right a:hover {
  color: #150067;
}
.resultadohoteles-page-content-left .submenufiltro .input-group-addon {
  background: #150067 !important;
  border-color: #150067 !important;
}
.resultadohoteles-content-header .menu-right .item-menu-right a:hover {
  color: #150067;
}
.resultadohoteles-content-header .menu-right .item-menu-right a.active {
  color: #150067;
}
.black .nemo-box-calendar-container .nemo-calendar-footer {
  background: #ff0080 !important;
}
.black .nemo-box-calendar-container .nemo-calendar-footer:hover {
  background: #150067 !important;
}
.black .nemo-box-calendar-container .ui-datepicker-calendar thead th {
  color: #150067 !important;
}
.black .nemo-box-calendar-container .nemo-calendar-header div.top {
  background: #ff0080;
}
.black .nemo-box-calendar-container .nemo-calendar-header {
  background: #150067;
}
.black .fa-arrow-circle-right:before,
.fa-arrow-circle-left:before {
  color: #150067;
}
#payment .all-payments {
  color: #ff0080;
}
#payment #payment_options li {
  color: #150067;
}
#payment .all-payments:hover {
  color: #150067;
}
.search-form #paquetes .data button.gray {
  color: #ffffff;
  border-color: #ffffff;
}
#hotels {
  background: url("https://i.imgur.com/u909vHb.jpg");
}
#hotels h1 {
  margin-top: 0px;
}
#slider_hotels .hotel .info .location .icon {
  color: #150067;
}
#slider_hotels .hotel .info button {
  background: #ff0080;
  outline-color: #150067;
}
#slider_hotels .hotel .info button:hover {
  background: #150067;
}
#slider_hotels .hotel .info .name {
  color: #150067;
}
.rating {
  color: #ffd200;
}
.countries li a:hover {
  color: #150067;
}
.countries li.active {
  border-color: #150067;
}
.countries li.active a {
  color: #ffffff;
}
.countries li.active a:hover {
  color: #150067;
}
.destinations .panel-group .panel-heading {
  background: #150067;
}
button {
  background: #ff0080;
}
button:hover {
  background: #150067;
}
#news_list a {
  color: #150067;
}
#news_list a:hover {
  color: #ff0080;
}
#menu_bottom {
  background: #ff0080;
  color: #ffffff;
}
#menu_bottom .container ul li {
  border-right-color: #ffffff;
}
#menu_bottom .container ul li a:hover {
  color: #150067;
}
#menu_bottom .container .flap {
  background-color: #ff0080;
  color: #ffffff;
}
.transparent {
  background: #150067;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 5%;
  margin: 40px auto;
  margin-top: 200px;
  display: block;
  color: #ffffff;
  font-size: 30px;
}
.transparent:hover {
  background: #ff0080;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 5%;
  margin: 40px auto;
  margin-top: 200px;
  display: block;
  color: #150067;
  font-size: 30px;
}
#hotels h1 {
  margin-top: 0px!important;
}
footer {
  background: white;
  color: black;
}
footer:after {
  color: black;
}
footer #own .footer-logo {
  max-height: 80px;
}
footer .social input[type=text] {
  border: solid 1px #150067;
  outline-color: #150067;
}
footer .social button {
  background: #150067;
  color: #ffffff;
  outline-color: #150067;
}
footer .social button:hover {
  background: #ff0080;
}
.resultadohoteles-slide-content .h-breadcrum-place a.back,
.fa-angle-left:before {
  color: #150067;
}
.ficha-hotel-slide-content .h-breadcrum-place span.last {
  color: #150067;
}
.ficha-hotel-slide-content .h-breadcrum-place a.back {
  color: #150067;
}
.resultadohoteles-slide-content .h-breadcrum-place span.last {
  color: #150067;
}
.ficha-hotel-slide-content .h-breadcrum-place .separator {
  color: #150067;
}
.content-closed .price .price-local {
  color: #150067;
}
.content-closed .price .price-local small {
  color: #150067;
}
.resultadohoteles-hotel-description .price .price-detail,
.resultadohoteles-hotel-short .price .price-detail {
  color: #150067;
}
.content-opened .price-local,
.content-opened .price-local small {
  color: #150067;
}
.resultadohoteles-hotel-price .price-detail {
  color: #150067;
}
.resultadohoteles-page-content-left .submenufiltro .input-group-addon {
  border-color: #150067;
  background: #150067;
}
#slider_offers .offer .price {
  background: #150067;
}
#slider_offers .name {
  color: #150067;
}
.search-box .lef-box-dark .boton-search button {
  background: #ff0080;
  outline-color: #150067;
}
.search-box .lef-box-dark .boton-search button:hover {
  background: #150067;
}
.page-header .resultado-cantidad-header {
  color: #150067 !important;
}
.resultadohoteles-hotel-description .price-button-detalle button,
.resultadohoteles-hotel-short .price-button-detalle button {
  background: #ff0080;
  outline-color: #150067;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .tarifas-btn-container button:hover {
  background: #150067;
}
.myreservation-page .view-detail-btn {
  background: #ff0080;
}
.myreservation-page .view-detail-btn:hover {
  background: #150067;
}
.resultadohoteles-hotel-description .price-button-detalle button,
.resultadohoteles-hotel-short .price-button-detalle button:hover {
  background: #150067;
}
.resultadohoteles-hotel-price button {
  background: #ff0080;
  outline-color: #150067;
}
.price-primary-currency {
  color: #150067 !important;
}
.search-form #paquetes .data .travel-style > li a h3 {
  color: white;
}
.resultadohoteles-hotel-price button:hover {
  background: #150067;
}
#slider_offers .offer .more .shout {
  background: rgba(255, 0, 128, 0.5);
}
.resultadohoteles-hotel-image .more .shout {
  background: rgba(255, 0, 128, 0.5) !important;
}
.resultadohoteles-hotel-image .more .shout {
  background: rgba(255, 0, 128, 0.5) !important;
}
.resultadohoteles-tarifas .price-button-detalle button {
  background: #ff0080;
  outline-color: #150067;
}
.resultadohoteles-tarifas .price-button-detalle button:hover {
  background: #150067;
}
.resultadohoteles-tarifas .price-local {
  color: #150067;
}
.fichahotel-acordeon .panel-group .panel-heading {
  background: #150067;
}
.results-price .price-local {
  color: #150067;
}
.results-short .price-button-detalle button {
  background: #ff0080;
  outline-color: #150067;
}
.results-short .price-button-detalle button:hover {
  background: #150067;
}
.next-back-navigation .btn-white {
  border-color: #150067;
  color: #150067;
  outline: #ff0080;
}
.next-back-navigation .btn-white:hover {
  border-color: #150067;
  color: #ffffff;
  outline: #150067;
  background: #150067;
}
.search-box button.btn {
  background: #ff0080;
  outline-color: #150067;
}
.search-box button.btn:hover {
  background: #150067;
  outline-color: #150067;
}
.resultadohoteles-page-content-left .filters label.checked:before {
  color: #150067;
}
.resultadohoteles-tarifas .price-detail {
  color: #150067;
}
.resultadohoteles-content-header .menu-left .orderby span {
  color: #150067;
}
.menu-cambio-vista a:hover {
  color: #150067;
}
.content-opened .price-local,
.content-opened .price-local small {
  color: #150067;
}
.flow .flow-step ul li.current div {
  background: #150067;
}
.flow .flow-step ul li.current div:after {
  border-left-color: #150067;
}
.flow .reservation-details > ul > li h4 var {
  background: #150067;
}
.price-detail-list li.total-price .btn {
  background: #ff0080;
}
.price-detail-list li.total-price .btn:hover {
  background: #150067;
}
.price-detail-list li.total-price .more-options {
  color: #150067;
}
.price-detail-list li .reservations .blue {
  color: #150067;
}
.price-detail-list li h4 var {
  background: #150067;
}
.flow .flow-step ul li.visited div {
  background: #ff0080;
  color: #150067;
}
.flow .flow-step ul li.visited div:after {
  border-left-color: #ff0080;
}
.flow .reservation-details .next a.btn {
  background: #ff0080;
}
.flow .reservation-details .next a.btn:hover {
  background: #150067;
}
.resultadohoteles-content-list .resultadohoteles-hotel-header .hotel-actions .item-menu-right a.active {
  color: #150067;
}
.nav-comparator-mobile .nav-comparator-positioner .nav-comparator-wrapper .main-content a .quantity {
  background: #150067;
}
.icon-hoteles-expand-all {
  color: #777;
}
.icon-hoteles-expand-all:hover {
  color: #150067;
}
.icon-hoteles-expand-all:before {
  content: "\e949";
}
.icon-hoteles-colapse-all {
  color: #777;
}
.icon-hoteles-colapse-all:hover {
  color: #150067;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #150067 !important;
}
.select2-container--open .select2-dropdown--below {
  border-color: #150067 !important;
}
.item-checkbox input[type=checkbox]:checked + label:before {
  background-color: #150067;
}
.item-checkbox input[type=checkbox]:checked + label:before {
  border-color: #150067;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #150067;
}
.results-price .price-detail {
  color: #150067;
}
.results-content-header .menu-left .orderby span {
  color: #150067;
}
.roundtrip-package-link .active {
  color: #ff0080 !important;
}
.results-transfers .btn-primary {
  background: #ff0080;
  border-color: #150067;
}
.h-breadcrum-place span.last {
  color: #150067;
}
.resultadohoteles-slide-content .h-breadcrum-place .separator {
  color: #150067;
}
@media (max-width: 767px) {
  #categories-selector {
    border-bottom-color: #150067;
  }
}
@media (max-width: 767px) {
  .resultadohoteles-hotel-price.abreviada .price-button-detalle {
    background: #150067;
  }
}
.fa-sliders:before {
  color: #ffffff;
}
.resultadohoteles-hotel-description .tabs a.opened {
  color: #150067;
}
.resultadohoteles-hotel-description .tabs a.active,
.resultadohoteles-hotel-description .tabs a:hover {
  border-bottom-color: #150067 !important;
}
@media (max-width: 767px) {
  .resultadohoteles-hotel-price .price-detail {
    color: #ffffff;
  }
}
footer .phone-container .phone:after {
  border-right-color: #150067;
}
footer .social h2:after {
  background: #150067;
}
.share-social.active .sharing-social {
  background: #150067;
}
.share-social .sharing-social:after {
  border-top-color: #150067;
}
.share-social .sharing-social li:hover a i {
  color: #150067;
}
.flights .flight-lists ul li div.row.grid-75-25 .price-panel ul li p {
  color: #150067;
}
.flights .browser-airlines .flight-byairline li div p.price {
  color: #150067;
}
.flights .flight-lists ul li div.row.grid-75-25 .price-panel ul li var {
  color: #150067;
}
.flights .flight-lists ul li div.row.grid-75-25 .price-panel ul li.gray p {
  color: #150067;
}
.flights ul.departure .flight-detail.selected .selector:before {
  background: #150067;
}
.flights .flight-lists .reservation {
  background: #150067 !important;
}
.flights .flight-lists .reservation[disabled] {
  background-color: grey;
}
.flights .flight-lists .reservation:hover {
  background: #150067 !important;
}
.btn-filtros button:hover {
  background: #150067;
}
.flights .flights-header h3 {
  color: #150067;
}
.flights .borwser-tabs li.active a {
  color: #150067;
}
.flights .browser-type > div > h4 {
  color: #150067;
}
.fh-h-container .fh-h-options .fh-h-orderby {
  color: #150067;
}
.fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .tarifas-text.blue {
  color: #150067;
}
.fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .button-see-detail-container .btn-change:hover {
  color: #ffffff;
  background: #150067;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .button-see-detail-container .btn-change {
  color: #150067;
  background: #ffffff;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-flight-info-panel .fh-to-panel-button-change-container .btn-change,
.fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-hotel-info-panel .fh-to-panel-button-change-container .btn-change {
  color: #150067;
  background: #ffffff;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-flight-info-panel .fh-to-panel-button-change-container .btn-change:hover,
.fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-hotel-info-panel .fh-to-panel-button-change-container .btn-change:hover {
  color: #ffffff;
  background: #150067;
  border-color: #150067;
  outline-color: #ffffff;
}
.matrix-container .dynamic-content .owl-nav .owl-next:before {
  color: #150067;
}
.matrix-container .dynamic-content .owl-nav .owl-prev:before {
  color: #150067;
}
.flights ul.departure .flight-detail.selected .selector {
  border-color: #150067;
}
#menu_pages li.menu-selected:after {
  border-top-color: transparent;
}
.page-header .result-amount {
  color: #150067;
}
.comparator-main .hotelsComparator-space .results-expanded .result .main-content .rate .price .local-price {
  color: #150067;
}
.comparator-main .comparator-content .result .rate .price p {
  color: #150067;
}
.comparator-main .comparator-content .result .rate .view .button {
  background: #150067;
}
.comparator-main .comparator-content .result .rate .view .button:hover {
  background: #05001b;
}
.icon-globe:before {
  color: #150067;
}
.rating .details .fa-angle-right:before {
  color: #ffffff;
}
.comparator-main .comparator-content .comparator-head .comparator-head-box a.back {
  color: #150067;
}
.comparator-main .comparator-content .comparator-head .comparator-head-box h3 strong {
  color: #150067;
}
.comparator-main .hotelsComparator-space .hc-breadcrum-place span.last {
  color: #150067;
}
.milestone-view .filters-menu .logo {
  background: #150067;
}
.milestone-view .filters-menu .results .result .content .more {
  background: rgba(255, 0, 128, 0.5);
}
.milestone-view .filters-menu .results .result .content .rate .local-price,
.milestone-view .filters-menu .search h2,
.milestone-view .filters-menu .menu-left > .orderby.openfilters span,
.milestone-view .filters-menu .results .result .content .rate .local-price a,
.milestone-view .closemap {
  color: #150067;
}
.milestone-view .filters-menu .results .result .content .rate .local-price a:after {
  background: #150067;
}
.location .icon-globe:before {
  color: #150067;
}
.milestone-view .results-expanded .result .rates > div .rate-detail .rate .shout {
  background: #ff0080;
}
.milestone-view .results-expanded .result .rate .price .local-price {
  color: #150067;
}
.milestone-view .results-expanded .result .rate .price p {
  color: #150067;
}
.milestone-view .results-expanded .result .rate .view .button {
  background: #150067;
  color: #ffffff;
}
.milestone-view .results-expanded .result .rate .view .button:hover {
  background: #0b0034;
  color: #ffffff;
}
.filters label.checked:before {
  color: #150067;
}
.flights .matrix-container .dynamic-content .owl-nav .owl-prev:before {
  color: #150067;
}
.flights .matrix-container .dynamic-content .owl-nav .owl-next:before {
  color: #150067;
}
@media (max-width: 767px) {
  #alt_logo {
    padding-top: 7px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  #burger_menu .icon.icon-menu_01 {
    color: #150067;
  }
}
.fh-h-container .fh-h-options .fh-h-orderby {
  color: #150067;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .tarifas-text.blue {
  color: #150067;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .button-see-detail-container .btn-change:hover {
  color: #ffffff;
  background: #ff0080;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .button-see-detail-container .btn-change {
  color: #ffffff;
  background: #150067;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-flight-info-panel .fh-to-panel-button-change-container .btn-change,
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-hotel-info-panel .fh-to-panel-button-change-container .btn-change {
  color: #150067;
  background: #ffffff;
  border-color: #150067;
  outline-color: #ffffff;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-flight-info-panel .fh-to-panel-button-change-container .btn-change:hover,
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-left .fh-to-hotel-info-panel .fh-to-panel-button-change-container .btn-change:hover {
  color: #ffffff;
  background: #150067;
  border-color: #150067;
  outline-color: #ffffff;
}
.matrix-container .dynamic-content .owl-nav .owl-next:before {
  color: #150067;
}
.matrix-container .dynamic-content .owl-nav .owl-prev:before {
  color: #150067;
}
.flights ul.departure .flight-detail.selected .selector {
  border-color: #150067;
}
#menu_pages li.menu-selected {
  color: #150067;
}
#menu_pages li.menu-selected:after {
  border-top-color: transparent;
}
.fh-top-offer .fh-to-container.desktop .fh-to-content-wrapper .fh-to-panel-right .fh-to-tarifas-container .tarifas-btn-container button {
  background: #ff0080;
}
.flight-plus-hotel .fh-breadcrum-place span.last {
  color: #150067;
}
.fh-breadcrum-place span.last {
  color: #150067;
}
