	.superior-derecho{
						height: 50%; 
						border: 1px solid #999999; 
						border-radius: 5px; 
						margin-left: 15px; 
						padding-left: 5px;
						padding-right: 5px; 
						background-color: white;
					}

	.superior-izquierdo{
						height: 50%; 
						border: 1px solid #999999; 
						border-radius: 5px;
						margin-right: 15px; 
						padding-left: 5px;
						padding-right: 5px; 
						background-color: white;
					}

	.inferior-derecho{
						height: 49%; 
						border: 1px solid #999999; 
						border-radius: 5px; 
						margin-left: 15px;
						background-color: white;
					}	
	.inferior-izquierdo{
						height: 49%; 
						border: 1px solid #999999; 
						border-radius: 5px; 
						margin-right: 15px;
						background-color: white;
					}	
	.titulo-pantalla{
						font-size: x-large;
						text-align: center;
						margin-top: 10px;
						margin-bottom: 20px;
						font-weight: bold; 
						color: #072235
	}	
	.label-reporte-large{
						text-align: left; 
						font-size: x-large; 
						margin-top: 10%; margin-left: 20px;font-weight: bold;
	}
	.label-reporte-resultado{
						text-align: left; 
						font-size: x-large; 
						margin-top: 10%;
						font-weight: bold;
	}	
	.piePromo{
						min-width: 210px; 
						height: 300px; 
						max-width: 500px; 
						margin: 0 auto;				
	}
	.lineAccesos{
						min-width: 210px; 
						height: 360px; 
						max-width: 600px; 
						margin: 0 auto
	}	
	.distancia{
						padding:5px;
	}
	.divFondo{
						background: url('images/fondo3.jpg')
	}

	.cuadro-superior{
			border: 1px solid #999999; 
			height: 38%; 
			border-radius: 5px;
	}
	.img-superior{
			width: 65%;
			border-radius: 50%;
			border-radius: 50%; 
			margin-left: 15%;
	}
	.prograss-bar-superior {
		padding-left: 5px;
	}	
	.titulo-cuadro-superior{
		margin-left: 5px;
		font-size: 70%;
	}
	.progreso-superior{
		height: 5%;
	}	
	.cuadros-detalle{
		border: 1px solid #999999; 
		height: 80px;
		border-radius: 5px;
	}
	.titulo-detalle{
		margin-top: 15%; 
		text-align: center;
	}
	.titulo-detalle-large{
		margin-top: 5%; 
		text-align: center; 
		margin-bottom: 0px;
	}
	.valor-detalle{
		text-align: center; 
		font-size: large; 
	}	
	.cuadro-superior-detalle{
		padding: 4px;
		margin-top: 5%;
	}
	.cuadro-inferior{
		border: 1px solid #999999; 
		height: 36%; 
		border-radius: 5px; 
		padding-left: 10%;
	}
	.img-inferior{
		width: 70%;
		border-radius: 50%;
		border-radius: 50%;
		margin-left: 10%;
	}
	.marcador-tabla{
		width: 20px;
		height: 20px; 
		margin: 4px;
		border-radius: 3px;
	}
	.marcador-muestra-tabla{
		width: 15px;
		height: 15px; 
		margin: 4px;
		border-radius: 3px;
	}
	.cuadro-total{
					min-width: 150px; 
					height: 45%;
					max-width: 100%;					
					margin: 0 auto
	}	
	.cabecera-table{
		font-size: small; 
		height: 22px; 
		padding-left: 0px;
		padding-right: 0px;
	}
	.cabecera-tables{
		width: 100px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.detalle-tables{
		width: 100px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.detalle-en-tables{
		font-size: small;
		height: 22px;
	}

	.header-table{
		border-left-width: 1px;
		border-right-width: 1px;
	}
	.adiciona-inferior-derecho{
	    padding-left: 5px;
	    padding-right: 5px;
	}