.tp-caption.small_lato {
	color:#555;
	text-decoration:none;
	text-transform:uppercase;
	background-color:transparent;
	text-shadow:none;
	font-family:"Lato";
	font-weight:800;
	font-size:18px;
	border-width:0px;
	border-color:rgb(0, 0, 0);
	border-style:none;
}

.tp-caption.large_blue {
	color:#31a3dd;
	text-decoration:none;
	text-transform:uppercase;
	background-color:transparent;
	text-shadow:none;
	font-family:"Lato";
	font-weight:800;
	font-size:39px;
	border-width:0px;
	border-color:rgb(49, 163, 221);
	border-style:none;
}

.tp-caption.large_black {
	color:#555;
	text-decoration:none;
	text-transform:uppercase;
	background-color:transparent;
	text-shadow:none;
	font-family:"Lato";
	font-weight:800;
	font-size:39px;
	border-width:0px;
	border-color:rgb(85, 85, 85);
	border-style:none;
}

.tp-caption.line_black {
	display:block;
	text-indent:-9999px;
	width:90px;
	height:2px;
	background:#555;
	text-decoration:none;
	border-radius:1px 1px 1px 1px;
	border-width:0px;
	border-color:rgb(34, 34, 34);
	border-style:none;
}

.tp-caption.open_black {
	display:block;
	text-decoration:none;
	font-size:13px;
	font-weight:800;
	font-family:"Open Sans";
	text-transform:uppercase;
	color:#999;
	background-color:transparent;
	border-radius:1px 1px 1px 1px;
	border-width:0px;
	border-color:rgb(0, 0, 0);
	border-style:none;
}

.tp-caption.black {
	color:#555;
	text-decoration:none;
	text-transform:uppercase;
	background-color:transparent;
	text-shadow:none;
	font-family:"Lato";
	font-weight:800;
	font-size:18px;
	border-width:0px;
	border-color:rgb(0, 0, 0);
	border-style:none;
}

.tp-caption.open_white {
	font-size:13px;
	font-weight:800;
	font-family:"Open Sans";
	color:#5F5F5F;
	text-decoration:none;
	background-color:transparent;
	display:block;
	text-transform:uppercase;
	border-radius:1px 1px 1px 1px;
	border-width:0px;
	border-color:rgb(0, 0, 0);
	border-style:none;
}

