﻿﻿/*
 * Title:   Estilos personalizados - DTP Mundo
 * Author:  Sergio Pereira
 */

/* ########################################################################
                            ESTILOS GENERALES
   ######################################################################## */



/* ************* PÁGINA LOADING PARA TODAS LAS PÁGINAS ******************** */

.loadingC
{
  padding:20px 10px 10px 10px;
  text-align:center;
  cursor:default;
  height: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.loadingC img
{
  text-align:center;
}

.loadingC h2
{
  color:#1169B0;
  font-size:26px;
}

@media (max-width: 360px) {
.loadingC h2
  {
    font-size:15px;
  }
  
.loadingC img
{
  text-align:center;
  width:60%;
}
}


.textoCenter
{
  text-align:center!important;
}

.titlepage
{
  color:#1c2b39;
}

.textblue
{
  color:#1169B0;
}

.textRed
{
  color:#ac2925!important;
  font-size: x-large;
  width: 200px;
}

.textInfo{
  color:#31708f!important;
}


.alto
{
  margin-top:-40px;
  /*background:#f5f5f5;*/
}

.no-padding
{
  padding:0 !important;
}


.bg-gris
{
  background-color: #f9f9f9;
}

/* ************************ FIN LOADING PARA LAS PÁGINAS ******************** */



/* ************************   Estilos Globales  ***************************** */

h2 {
  font-size: 2em;
  line-height: 1.25em;
  color:#2B4391; }

.content-page-standard
{
  width: 100%;
  height: 120%;
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 0 5px #666;
}

.title-eropamundo
{
  text-align:right;
}


/* ************************** Fin Estilos Gobales *************************** */



/* ###########################################################################
                    FORMULARIO DE BÚSQUEDA - INICIO
############################################################################## */



/*  ***************** Modal de Habitaciones ********************************* */

#Habitaciones .modal-header, #Habitaciones h4, #Habitaciones .close{
      background-color: #1c2b39;
      color:white !important;
      text-align: center;
      font-size: 1.5em;
  }
#Habitaciones .modal-footer {
      background-color: #f5f5f5;
  }
#Habitaciones .modal-body h5 {
      color: #1169B0;
    margin-left:15px;
    font-size:16px;
  }
  
 #Habitaciones .modal-body .close {
      background-color: #ffffff;
      color:red !important;
      text-align: center;
      font-size: 25px;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  
  #Habitaciones .modal-body .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  #Habitaciones .content-hab
  {
    border:1px solid #a3a3a3;
    padding:8px;
    margin:10px;
    border-radius:5px;
  }
  
  #Habitaciones .content-hab .left-border
  {
    border-left:1px solid #a3a3a3;
  }

  .hotels-icons 
  {
    margin-right: 0px;
    padding-bottom: 0px;
  }
  
  @media (max-width: 420px) {
  #Habitaciones .content-hab .left-border
    {
     border-left:none;
    }
}

/* ******************* Fin Modal Habitaciones y Pasajeros *********************** */



/* ************************   slide de inicio   ********************************* */

#slide
{
    /*width: 100%;*/
    min-height: 600px;
  background: url('../images/slides/fondo1.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*  ************************* Fin Slide de inicio ******************************* */



/* ***************************   Buscador - Inicio   **************************** */

section #contentsearch
{
  padding-top:300px;
  min-height:400px;
}

@media (max-width: 360px) {
  section #contentsearch
  {
    padding-top:150px;
    min-height:600px;
  }
}


@media (min-width: 768px) {
  section #contentsearch
  {
    padding-top:250px;
  }
}

@media (min-width: 1024px) {
  section #contentsearch
  {
    padding-top:225px;
  }
}

.search-tab-content
{
    padding-top:10px;
}

.contentforms
{
    margin-top: -10px;
}

.sort-by-section
{
    background: rgba(255,255,255, 0.7);
    padding: 15px 0 0 0;
    padding-bottom: 5px;
    /*margin-left: 10px;*/
}

input.input-text {
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #111;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  line-height: normal; }

textarea
{
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #cccccc;
    line-height: normal;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  
input[type=number]{
  -moz-appearance:textfield;
}
#contentsearch .selector, #contentsearchMobile .selector
{
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
}

#contentsearch .selector option, #contentsearchMobile .selector option
{
  background: rgba(255,255,255, 0.7);
}

.selector option:hover 
{
  background: rgba(255,215,0, 0.4);
  color: #1169B0;
}

#contentsearchMobile button
{
  margin-bottom: 10px;
}

.blockBuscando
{
  color:#1169B0;
  font-size: 16px;
  /*background-color: cyan;*/
}

.textgreen
{
  color:#2B4391;
}

.lblHabitaciones
{
  font-size:14px;
  color:#2d3e52;
}

label a.mod-hab
{
  color:#e01a33;
}

label a.mod-hab:hover
{
  text-decoration:underline;
}

.mod-hab-search label a.mod-hab
{
  color:#ffb3b3;
}

.mod-hab-search label a.mod-hab:hover
{
  text-decoration:underline;
}
.mod-hab-search .lblHabitaciones
{
  /*font-weight:bold;*/
  font-size:14px;
  color:#ffffff;
}

.mod-hab-search .lblHabitaciones b
{
  color:#fdb714;
  font-weight:500;
}

.busqueda-avanzada a 
{
  cursor:pointer;
}



/* *******************   Buscador Vuelos   ****************************** */

.cb-busqueda label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    /*margin-left: -20px;*/
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cb-busqueda input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.cb-busqueda label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    /*margin-left: -22px;*/
    /*padding-left: 2px;*/
    top: -1px;
    font-size: 20px;
    color: #1169B0;
}

.tab-container .tab-content-search {
    background: none; }


.tab-container .tab-content-search .btn-default i
{
  color: #1169B0;
}


.btn-show
{
  display: block;
}

.btn-hide
{
  display: 
}

#multidestinos h3
{
  color: #fff;
  margin-top: 20px;
}

#multidestinos h3.textblue
{
  color: #2B4391;
  margin-top: 20px;
}

ul.tabs li label
{
  cursor: pointer;
}

ul.tabs li label input
{
  margin-right: 5px;
}

/* *************************** Fin Buscador Vuelos **************************** */



/* ###########################################################################
                                ESTILOS DEL INICIO 
   ########################################################################### */
   
h2.circuitos
{
  display:inline-block;
  vertical-align:middle;
}

h2.circuito-europamundo
{
  float:right;
  margin-top:-20px;
}

@media (max-width: 360px) {
  h2.circuito-europamundo
  {
    float:none;
    display:block;
  }
}

.sectiontop
{
  padding-top:40px;
}

.sectiontops
{
  padding-top:50px;
}

.destinosvisitados
{
  box-shadow: 0 0 5px #666;
}

.icon-boxcustom {
  text-transform: uppercase; }
.icon-boxcustom > i {
    text-align: center; }
.icon-boxcustom.style7 {
    line-height: 50px;
    text-transform: none; }
.icon-boxcustom.style7 > i {
      display: block;
      width: 50px;
      float: left;
      background: #ffffff;
      line-height: 50px;
      color: #fff;
      font-size: 2.5em; }
.icon-boxcustom.style7 .box-title {
      margin-bottom: 5px; }
.icon-boxcustom.style7 .description {
      line-height: 1.6em;
      padding-left: 70px; }
.icon-boxcustom.style7:after {
      display: table;
      content: "";
      clear: both; }
.icon-boxcustom.style7 {
    padding: 30px;
    background: #fff; }
.icon-boxcustom.style7 > i.glyphicon {
        font-size: 1.6667em; }
.icon-boxcustom.style7 .description {
      padding-left: 160px; }
.icon-boxcustom.style7 .description .box-title {
        margin-bottom: 20px;
        line-height: 1.3333em; }
.icon-boxcustom.style7 .description ul {
        margin-bottom: 20px; }
.icon-boxcustom.style7 .description .view {
        text-decoration: underline;
        color: #98ce44;
        font-size: 1.0833em; }

.titleShadows
{
  text-shadow: 2px 2px 5px #666;
}

/* ############## FIN FORMULARIO DE BÚSQUEDA - INICIO ############## */


/*  #################################################################
                        LISTA DE RESULTADOS
    ################################################################# */


/* *************************** HOTELES ************************** */

section#content {
  min-height: 600px;
  /*padding-top: 40px;*/
  text-align: left;
  /*background: #ffffff;*/ }
  
 article.lista-principal
{
  margin-top:10px;
  /*border:1px solid #999;*/
  padding:10px;
  margin-bottom: 0 !important;
}

article.lista-principal a
{
    cursor:pointer;
}

article.lista-principal .lista-principal-bordes
{
border-left:1px solid #999;
/*border-right:1px solid #999;*/
}

@media (max-width: 420px) {
  article.lista-principal .lista-principal-bordes
  {
  border-left:none;
  }
}


.page-title-container {
  height: 56px;
  background: #f5f5f5; }

.page-title-container .page-title .entry-title {
    line-height: 56px;
    color: #2B3491;
    margin: 0; }

article .selectorcustom
{
    position: relative;
    min-width: 60px;
}

article p label
{
  /*color:#1169B0;*/
}

article p select
{
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    height: 35px;
    padding: 5px;
}

.ordenar
{
    box-shadow: 0 0 5px #666;
    padding:5px 0;
    margin: 0;
    /* background: #FAEE6B;*/ 
    background: #2B4391;
    text-align: center;
}

.ordenar h4
{
  color:#ffffff;
}

.ordenar h2
{
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}

.ordenar img
{
  display: inline-block;
  vertical-align: middle;
  max-width: 25%;
}

.lista-promo i{
    font-size: 1.8em;
    margin: 5px;
    color: #1169B0;
}

article.listaresultado
{
    /*box-shadow: 0 0 5px #666;*/
  border-top:none !important;
  /*border:1px solid #999;*/
    margin-bottom: 0 !important;
}

.mostrar-ocultar-detalle
{
    padding: 5px;
  /*border:1px solid #999;*/
  border-top:none;
    background-color: #d8d8d8;
    /*box-shadow: 0 0 5px #666
    margin-bottom: 10px;*/
}

.mostrar-ocultar-detalle a{
    color: #1169B0;
    cursor: pointer;
}

.lista-habitacion
{
    margin-top: 5px;
  background-color:#fff;
}

.lista-habitacion h5
{
margin:5px 8px;
color:#1169B0;
}

.lista-habitacion table i{
    font-size: 1.3em;
}

.lista-habitacion table
{
    background-color: #ffffff;
    margin-bottom: 0 !important;
    text-align: center;
}

.lista-habitacion table th{
    background: #666;
    border:1px solid #666;
    color: #ffffff;
    text-align: center;
}

.lista-habitacion table td.price-hab{
    color:#7fb231;
    font-weight: 700;
    font-size: 1.1em;
}

.titulo-resultado
{
    display: inline-block;
    vertical-align: middle;
    width: 75%;
}

.btn-resultado
{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-left:30px;
}

@media (max-width: 360px) { 
  .titulo-resultado
  {
    display: inline-block;
  }

  .btn-resultado
  {
    display: inline-block;
    vertical-align: middle;
  }
}

.resultados h2
{
  margin-top: 15px;
}

h2 span.titulo-destino
{
  font-size:24px;
}

h2 span.resultados-destino
{
  font-size: 18px;
}

.box
{
  margin-bottom: 0;
 /* height: 150px;*/

}

.listaresultado figure img
{
    height: 160px;
    width: 270px;
}

.title-list
{
    /*max-width: 250px;*/
    font-size: 18px;
    color:#1169B0;
    font-weight: normal;
}

/* Hotel Booking Nuevo */

.text-italic
{
  font-style: italic;
}

.localizador
{
  background-color: #072235;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.localizador span.text-italic
{
  font-weight: normal;
}

.num-localizador
{
  font-size: 1.9em;
  margin: 15px 0;
}

.booking-info-pasajero, .reserva-info-hotel
{
  background-color: #CBE5FB;
  padding: 5px 10px;
}

.fecha-reserva
{
  margin: 5px 0;
}

/* Fin Hotel Booking Nuevo */



@media (min-width: 320px) {
.bootstrap-select button
{
  max-width:150px;
}
}

@media (min-width: 360px) {
.bootstrap-select button
{
  max-width:180px;
}
}

@media (min-width: 480px) {
.bootstrap-select button
{
  max-width:300px;
}
}

@media (min-width: 768px) {
.bootstrap-select button {
    max-width: 180px;
  }
}

@media (min-width: 992px) {
.bootstrap-select button {
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
.bootstrap-select button
{
  max-width:400px;
}
}

/* ************************* FIN HOTELES ******************************** */



/* *************************   VUELOS  ********************************** */


.vuelos-resultados
{
  margin-top: 10px;
}

.flight article.listaresultado
{
 /* box-shadow: 0 0 5px #666;*/
}

.tabla-vuelos table
{
  background-color: #fff;
}

.tabla-vuelos table th
{
  text-align: center;
  font-size: 1.2em;
  color:#1169B0;
}

.tabla-vuelos table tr th img
{
  width: 30px;
}

.tabla-vuelos table tr td
{
  text-align: center;
}

.fechas
{
  font-size: 1.5em;
  color:#1169B0;
  text-align: center;
  margin-bottom: 10px;
}

.fechas div.text-small
{
  font-size: 0.6em;
  text-transform: uppercase;
}

.detalle-cabecera
{
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.vuelos-detalle
{
  padding-top: 10px;
  border-top: 1px solid #999999;
  /*border-right: 1px solid #999999;*/
}

.texto-aerolinea
{
  color:#999999;
}

.listing-style3 .box > *, .listing-style3.box > * {
    padding: inherit;
}


.img-aerolinea
{

}

.img-aerolinea img
{
  display: inline-block;
  vertical-align: middle;
  margin:2px;
  max-width: 30px;
}

.vuelos-precio
{
  padding-top: 10px;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  text-align: center;
}

.subtotal-vuelo
{
  color: #e01a33;
  font-size: 0.9em;
  font-weight: 500;
}

.total-vuelo
{
  color: #7db921;
  font-size: 1.4em;
  font-weight: 600;
}

.salida, .escalas, .llegada
{
  /*display: inline-block;
  vertical-align: middle;
  margin: 5px;*/
  text-align: center;
}

.salida, .llegada
{
  font-size: 1.0em;
}

.salida span, .llegada span
{
  font-size: 1.5em;
  font-weight: 500;
  color:#1169B0;
}

.cant-escalas {
  height: 1px;
  width: 100%;
  margin: 6px auto;
  padding: 0;
  position: relative;
  border-radius: 4px;
  display: block;
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid #555;
}

.cant-escalas .stop-dot {
  background-image: none;
  background-color: #ffffff;
  border: 1px solid #555555;
  border-radius: 42px;
  width: 12px;
  height: 12px;
  line-height: 1;
  top: -6px;
  position: relative;
  display: inline-block;
  margin: 0 4%;
  zoom: 1;
}
.cant-escalas li {
  list-style-type: none;
}

ul .cant-escalas {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid #555555;
  border-right: none;
  border-bottom: 8px solid transparent;
  position: absolute;
  right: -8px;
  top: -14px;
}
.cant-escalas li {
  list-style-type: none;
}

.cant-escalas {
  text-align: center;
  line-height: 1;
}

ul .cant-escalas .empty {
  position: absolute;
  top: -5px;
  left: -7px;
  width: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #FFFFFF;
  border-right: none;
  border-bottom: 5px solid transparent;
}

.cant-horas
{
  color: #7db921;
}

.cantidad-escalas
{
  color: #e2076a;
}

.fec-llegada
{
  font-size: 0.8em;
  color: #e01a33;
}

.separador
{
  border-top: 1px solid #999999;
  margin-top:5px;
  padding-top: 10px
}

.mas-detalle-vuelos
{
  background-color: #f5f5f5;
  text-align: center;
}

.mas-detalle-vuelos .salida-fa i
{
  padding-top: 20px;
  font-size: 30px;
  color: #555;
}

.mas-detalle-vuelos .fecha
{
  font-weight: 1.1em;
  color: #999;
}

.mas-detalle-vuelos .ciudad-hora
{
  font-size: 1.5em;
  font-weight: bold;
}

.mas-detalle-vuelos .detalle-avion
{
  padding-top: 5px;
}

.mas-detalle-vuelos .detalle-avion img
{
  max-width: 30px;
}

.mas-detalle-vuelos .tiempo-espera
{
  color: #8a6d3b;
  padding: 5px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: #fcf8e3;
}

a.btn-mas-detalle
{
  cursor: pointer;
}

.ciudad-escala
{
  color: #999;
}


/* Pre - Confirmación */

/*div.listaresultado
{
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
  padding: 20px 0;
}*/

.pre-conf-vuelo-ciudad
{
  background: #1169B0;
  color: #fff;
  text-align: center;
  font-size: 1.8em;
  padding:10px;
}

.border-left
{
  border-left:1px solid #666;
}

.pre-conf-titulo
{
  color:#2B4391;
  font-size:18px;
}

.lbl-form
{
  color: #1169B0;
}

.text-right
{
  text-align: right;
}

/* Fin Pre -Confirnación */


/* Voucher Vuelos */

.booking-pasajero
{
  margin: 10px 0;
  /*border-top: 1px solid #666;
  border-bottom: 1px solid #666;*/
}

.booking-info-pasajero .salida-fa
{
  padding-top: 10px;
  font-size: 15px;
  color: #555;
}

.booking-vuelo
{
  background-color: #072235;
  padding: 10px;
  color: #fff;
  font-size: 1.1em;
}

.booking-vuelo-detalle-left
{
  border-left:1px solid #666;
}

.booking-vuelo-detalle-right
{
  border-right: 1px solid #666;
}

.booking-vuelo-detalle-left, .booking-vuelo-detalle-right
{
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}

/* Fin Voucher Vuelos */

/* *************************** FIN VUELOS ******************************* */


/* *************************** TRASLADOS ******************************* */

.car article.listaresultado
{
  box-shadow: 0 0 5px #666;
  margin-bottom: 10px !important;
}

.car h4.box-title
{
  color: #1169B0;
  font-size: 1.5em;
  font-weight: 700;
}

.car-detalle ul
{
  margin: 10px 0;
}

.car-detalle ul li i
{
  color: #1169B0;
}

.car-descripcion
{
  border-right: 1px solid #999999;
}

.car-descripcion ul, .car-descripcion-modal ul
{
  margin:10px 0;
}

.car-descripcion li, .car-descripcion-modal li
{
  padding-left: 5px;
}

.car-descripcion li:before, .car-descripcion-modal li:before {

  font-family: 'FontAwesome';
  content:"\f105";
  padding-right: 8px;
  color: #1169B0;

}

.car-descripcion-modal h3
{
  color: #1169B0;
  margin: 10px 0;
}

.car-precio
{
  padding: 20px 0;
  text-align: center;
}

.btn-mas-detalle
{
  cursor: pointer;
  color: #7db921;
  font-weight: 700;
}


.car-info figure img
{
  max-width: 270px;
  max-height: 170px;
}

.car-info-detalle
{
  /*border-left: 1px solid #999999;
  border-right: 1px solid #999999;*/
}

.car-info-detalle h4
{
  font-size: 1.4em;
  font-weight: normal;
  color: #1169B0;
}

.car-info-detalle p
{
  margin: 0;
}

.car-preconfirmation h3, .car-preconfirmation h4
{
  color: #1169B0;
}

span.font-big
{
  font-weight: bold;
  font-size: 1.3em;
}

.info-reserva .panel, .car-preconfirmation .panel
{
  box-shadow: 0px 0px 5px #666;
  margin: 10px 0;
}

.car-descripcion-modal label, .car label, .car-preconfirmation label
{
  color: #1169B0;
}

/* Booking Traslado */

.nombre-pasajero
{
  font-size: 1.8em;
}

.big-padding-buttom
{
  padding-bottom: 60px;
}

.booking-traslado-info
{
  text-transform: inherit;

}

.booking-traslado-title
{
  background-color:#1169B0;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}

.text-italic
{
  font-style: italic;
  font-weight: normal;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.big-font
{
  font-size: 1.5em;
}

.booking-info-detalle
{
  border-bottom: 1px solid #999;
  padding: 10px;
}

.booking-info-detalle-left
{
  border-left: 1px solid #999;
}

.booking-info-detalle-right
{
  border-right: 1px solid #999;
}

.padding-logo
{
  padding-top: 20px;
}

/* Fin Booking Traslado */

/* *************************** FIN TRASLADOS ******************************* */




/* ################## NUEVA BÚSQUEDA LISTA DE RESULTADOS ################ */

.nueva-busqueda
{
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    margin-top: 10px;
    background: #1c2b39;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0 5px #666;
  
}

.nueva-busqueda label
{

    color:#ffffff;
  
}

/* ################## FILTRO DE LISTA DE RESULTADOS ##################### */

.max-price-label, .min-price-label
{
  margin-top:8px;
  color:#ffffff;
}

.multiselect {
        width: 200px;
    }
.selectBox {
        position: relative;
    }
.selectBox select {
        width: 100%;
        /*font-weight: bold;*/
    }
.overSelect {
    position: absolute;
    right: 0; 
    top: 0; 
    width:100%;
    height:34px;
    overflow: hidden;
    border-radius:4px;
    border: 1px solid #aaa;
    background: #fff url('../images/chosen-sprite.png') no-repeat 130% 5px;
    cursor:pointer;
    text-align:left;
    color:#939393;
    padding:8px 15px;
    font-size:13px;
    }
#checkboxes {
    position: absolute;
    display: none;
    border: 1px #f5f5f5 solid;
    z-index:110;
    background:#ffffff;
    padding:5px;
    width:85%;
    }
#checkboxes label {
        display: block;
    color:#fdb714;
    font-size:16px;
    padding:2px;
    }
#checkboxes label:hover {
        /*background-color: #1e90ff;*/
    }
  
#checkboxes.checked:before {
    border-color: #1169B0;
    color: #fff;
    background: #1169B0;
    content: "\e8ba"; }
  
.cant-noches-title
{
  color:#fff;
  margin-top:12px;
}
  
.sh-filtro
{
  display:none;
}

.sh-filtro a
{
  cursor:pointer;
}

.fixed
{
  position:fixed;
}

.filtro
{
  /*position: fixed;*/
  /*top: 30px;*/
    /*max-width: 275px;
    padding:0 10px; 
    /*background: #FAF29D;*/
    margin-top: 10px;
    background: #ffffff;
    /*background: rgba(255,215,0,0.2);*/
    padding-bottom: 10px;
    /*box-shadow: 0 0 5px #666;*/
  
}

@media (min-width: 360px){ 
  .filtro {
  display:block;
  /*min-height:600px;*/
  }
}

@media (max-width: 360px){ 
  .filtro {
    width:100%;
  display:none;
  }
  
  .sh-filtro
  {
    display:block;
    margin-top: 10px;
    background-color:#7fb231;
    padding:5px;
  }
  
  .sh-filtro a
  {
    color:#ffffff;
    /*font-size:20px;*/
  }
  
  .sh-filtro a:hover
  {
    color:#f3f3f3;
  }
}

@media (min-width: 320px){ 
  h2.tituloindex {
    margin-bottom:60px;
  }
}

.filtrotitle
{
    /*background: #ffffff;*/
    color: #111111;
    
}

.filtro h4
{
  margin: 2px;
}

.filtro label
{
  margin-top: 5px;
  color:#111;
  font-weight: 700;
}

.filtro span
{
  margin-top: 0px;
  color: #1c2b39;
  font-weight: bold;
}

.filtro .border-bottom
{
  border-bottom: 1px solid #fff;
}

/*.filtro button
{
  background-color: #FFD700;
  color:#2B4391;
}*/

.filtro .panel-content label
{
  color:#1169B0;
  font-weight: 700;
}

.filtro .form-group
{
  margin-bottom: 3px;
}
/* acompaña el filtro al scroll  */

.fixed
{
  position:fixed; 
  top:60px;
  max-width:300px;
  z-index:100;
  /*margin-right: 20px;*/
  /*margin-bottom: 600px;*/
}

.margen
{
  margin-left:300px;
}

@media (min-width: 800px) {

.margen
{
  margin-left:267px;
}

@media (min-width: 920px) {

.margen
{
  margin-left:307px;
}

@media (min-width: 992px) {

.margen
{
  margin-left:250px;
}

}

@media (min-width: 1200px) {

.margen
{
  margin-left:300px;
}

}

/* ############## fin filtro con scroll ############# */


button.facilities
{
  background-color:#98ce44;
  padding: 0 8px;
}

.amenities img
{
  max-width: 135px;
  max-height: 26px;
}

.filtro .contentLeft
{
  width: 45%;
  margin-right:2px;
  display: inline-block;
  vertical-align: top;

}

.filtro .contentRight
{
  width: 47%;
  margin-left:2px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.contentRightNoche
{
  width: 47%;
  margin:0 2px;
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
  font-weight: 400;
  font-size: 0.8333em;
  text-transform: uppercase;
  padding-top: 8px;
}

.edadleft
{
  float: left;

}

.edadright
{
  float: right;
  clear: both;
}

.contentRightNoche p.title
{
  color:#f5f5f5;
  font-weight: 700;
}


/* estilo para quitar las flechas del input number */
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

/* fin estilos para input number */

.ir-arriba {
  max-height: 50px;
  display:none;
  padding:20px;
  background:#1c2b39;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:60px;
  right:20px;
}

@media (max-width: 768px){ 
.ir-arriba {
    display:none;
  }
}

@media (max-width: 768px){ 
  .animacionMovil {
    font-size:15px;
  }
}

select option span.promoOption
{
  background-color: #c1e2b3;
  color:#ffffff;
  padding:2px;
  border-radius:5px;
}

select option span.ofertaOption
{
  background-color: #e4b9b9;
  color:#ffffff;
  padding:2px;
  border-radius:5px;
}

.promoCinta
{
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  height: 60px;
    border-left: 20px solid #FFD700;
    border-right: 20px solid #FFD700;
    border-bottom: 20px solid transparent;
  /*box-shadow: 0px 0px 10px #ffffff;*/
}

.promosvg
{
  position:absolute;
  top:8px;
  left:8px;
  z-index:110;
}

.oferta
{
  position:absolute;
  top:100px;
  left:0;
  z-index:120;
     border-right: 30px solid transparent;
     border-top: 30px solid transparent;
     border-left: 30px solid #FFD700;
     border-bottom: 30px solid #FFD700;
}

.ofertasvg
{
  position:absolute;
  top:130px;
  left:8px;
  z-index:130;
}

.promo
{
  position:absolute;
  top:20px;
  left:0;
  z-index:100;
  /*width: 100px;*/
  margin: 0 -10px 30px -10px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0,0,0,.8);
  background: #5c5c5c;
        background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
        -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 2px 0 rgba(0,0,0,.3);
  font-size:20px;
  color:#FF0000;
  box-shadow:5px 5px 10px #000000;
  background-color:#FFD700;
  padding:10px;
}

.promo:before, h1:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }

.promo:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #222;
        left: 0;
    }

.promo:after
    {
        border-width: 0 0 10px 10px;
        border-left-color: #222;
        right: 0;
    }
  
.promo svg
{
  display: inline-block;
  margin-right: 5px;
  vertical-align:top;
}

.promoText
{
  color:#d43f3a;
  margin-left:-15px;
  margin-top:50px;
  font-weight:bold;
  font-size:15px;
}

select option span.glyphicon
{
  color:#1169B0;
}

/*  Administrar Resultados */

.referencias-search
{
  font-size: 13px; 
  vertical-align: middle;
}

/* ##############################################
                DETALLES HOTEL
   ############################################## */
   
/* IMAGEN PARA TOURICO */

ul.slides li
{
  background-color:#f5f5f5;
}

ul.slides li img.img-tourico
{
  padding-top:15px;
  padding-bottom:15px;
  max-width:200px; 
  max-height:130px; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}  
.mapa-resultados:hover
{
  cursor:pointer;
  /*cursor:url(../images/favicon.ico), auto;*/
}

.mapa-resultados
{
  padding:5px;
}
   
.mapa-resultados b
{
  color:#1169B0;
}


/* ##############################################
        RESERVA REALIZADA - PRE CONFIRMACION
   ############################################## */

/* 2.2.4. Term Description */

.fondogris
{
  background-color: #f5f5f5;
  padding: 5px;
}

dl.term-descriptioncustom {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color:#1169B0; }
  dl.term-descriptioncustom dt, dl.term-descriptioncustom dd {
    line-height: 1.3333em;
    float: left;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
dl.term-descriptioncustom dt
{
    width: 30%;
}
  dl.term-descriptioncustom dt {
    border-right: 1px solid #999999;
    color: #04afe7;
    font-size: 12px;
    font-weight: 700;
    padding-right: 5px;
    clear: both; }

@media (max-width: 768px) {
  dl.term-descriptioncustom dt
  {
    border-right:0;
  }
}

  dl.term-descriptioncustom dd {
    padding-left: 20px; }
  dl.term-descriptioncustom:after {
    content: "";
    display: table;
    clear: both; }

.booking-information
{
   /* box-shadow: 0 0 5px #666;*/
}

.booking-information p
{
  font-size: 13px;
}

.booking-information label
{
  color:#666666;
    font-weight: bold;
    font-size: 16px;
}

.booking-information textarea
{
  /*background-color: #f5f5f5;
  border: 1px solid #666666;*/
  height: 50px;
  resize: none;
}

.booking-information .form-group
{
  margin:0;
}

.booking-information .costo
{
  font-weight: bold;
  color:#7db921;
}

.booking-information h4.box-title, .booking-details h4.box-title
{
  color:#2B4391;
  font-size:18px;
}

.title-shadows
{
  text-shadow: 2px 2px 5px #555;
}

.booking-bg
{
  padding:10px;
  background-color: #E3F6CE;
  margin: 5px;
}

.booking-information .cancelacion
{
  color: #a94442;
  font-weight: bold;
}

.booking-information hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #a9a9a9; }

 .booking-information table
{
    width: 100%;
    border-collapse: collapse;
  font-size:12px;
}

.booking-information table th
{
    color:#ffffff;
    background-color: #2d3e52;
    border:1px solid #1169B0;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.booking-information table td
{
    //text-transform: uppercase;
    border:1px solid #a9a9a9;
    padding: 5px;
    text-align: center;
}

.textogris
{
  color:#838383;
}

/* tooltip para politica de cancelación */

.tooltipcancelacion {
    /*position: relative;*/
    display: inline-block;
    border-bottom: 1px dotted #f2dede;
}

.tooltipcancelacion .tooltiptextcancelacion {
    /*visibility: hidden;*/
    width: 200px;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /*top: 120px;
    right: 110%;*/
}

.tooltipcancelacion .tooltiptextcancelacion::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #f2dede;
}
.tooltipcancelacion:hover .tooltiptextcancelacion {
    visibility: visible;
}

.titletooltip
{
  padding-top: 10%;
  font-weight: 700;
  text-align: left;
  font-size: 15px;
  color: #a94442;
}

.alert-service
{
  color:#3c763d;
  tex-transform:none;
}



/* ################################################
                  CONFIRMAR HOTEL
    ############################################### */

.booking-information input[type="text"]
{
  font-size: 13px;
  background: #ffffff;
  border: 1px solid #111;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  line-height: normal;
  padding-left: 15px;
  padding-right: 15px;
  height: 34px;
  width: 100%;
}

.booking-information label
{
  color:#1169B0;
  font-size: 12px;
}

.detalle-hotel
{
 /* box-shadow: 0 0 5px #666;*/
}

.fixed-conf
{
  position:fixed; 
  top:80px;
  max-width:300px;
  z-index:100;
  margin-left: 900px;
  /*margin-bottom: 600px;*/
}

@media (min-width: 1200px) {
  .fixed-conf {
    max-width:300px;
    margin-left: 900px;
  }
}

hr.booking { 
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

/* ################################################
                        LOGIN
    ############################################### */
    
.soap-login-page.style1 .login-form a
{
  color:#ffffff;
  text-decoration: none;
  cursor:pointer;
}

.soap-login-page.style1 .login-form a:hover
{
  text-decoration: underline;
}

.soap-login-page.style1 .logintitle
{
  font-size: 4em; 
  font-weight: 450; 
  line-height: 1em; 
  margin-top: 20px;
}

.soap-login-page.style1 .logintext
{
  font-size: 1.3333em; 
  color:#ffffff;
}

.title-login
{
  font-size: 4em; 
  font-weight: 450; 
  line-height: 1em; 
  margin-top: 20px;
}

/* ################################################
                    HOTEL DETALLE
    ############################################### */

ul.slides li img
{
  max-width: 900px;
  max-height: 500px;
}

/* ###############################################
                      FOOTER
   ###############################################*/

footer .footer-wrapper
{
  background: none;
}


/* ##############################################
                MIS RESERVAS - PERFIL
   ############################################## */

.reservas .fa.circle {
  border: 1px solid;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.7333em;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  display: inline-block;
  text-align: center; }

  .reservas .tab-container.full-width-style ul.tabs li a:hover i, .tab-container.full-width-style ul.tabs li.active a i {
    color: #1169B0;
    border-color: #1169B0;
}

.reservas .tab-container.full-width-style ul.tabs li.active a {
    color: #1169B0;
}

.reservas .tab-container.full-width-style ul.tabs li a:hover {
    color: #1169B0;
}


table tr td a
{
  text-align:center;
  cursor:pointer;
  /*font-size:15px;*/
}

#divReservas table th
{
  text-align:center;
  vertical-align:middle;
  background-color: #2d3e52;
}

.descargarVoucher
{
  color:#1169B0;
}

.cancelarReserva
{
  color:#a94442;
}

table tr td a.fontDescargar
{
  color:#1169B0;
}

table tr td a.fontDescargar:hover
{
  color:#2B4391;
}

table tr td a.fontCancelar
{
  color:#a94442;
}

table tr td a.fontCancelar:hover
{
  color:#ff0000;
}

button#buscarReservas, button#buscarExpedientes
{
  font-size:14px;
}

table tr.bgblue
{
    color:#ffffff;
    background-color: #1169B0;
    border:1px solid #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.alert-error
    {
        background-color: #d6d6d6;
        color: #666;
    }
.alert-total
    {
        background-color: #1169B0;
        color:#ffffff;
    }

/* ################ ALERTAS PERSONALIZADOS ########## */

.error
{
  color:#a94442;
}

.info{
  color:#31708f;
}

#divFacturas table th
{
  text-align:center;
  vertical-align:middle;
  padding-left: 2%;
  padding-right: 3%;
}
#divFacturas table td
{
  text-align:center;
  vertical-align:middle;
  font-weight: bold;
}

#resultadoMapa{
    border-bottom-width: 0px;
    margin-top: 2px;
}

.rowPreconfirmacion{
  margin-left: 0px;
}

.transaction_normal{
  height: 42px;
  width: 130px;
}


.btn-detalle{
  margin-left: 0px;
}

.localizador{
  width: 80px;
}

.icon-bm-activity:before {content: "\e900";}
      .floating-panel {
                position: absolute;
                top: 14%;
                left: 14%;
                z-index: 5;
                padding: 10px;
                text-align: center;
                font-family: 'Roboto','sans-serif';
                line-height: 30px;
                padding-left: 10px;
                }
        .sort-by-section li {
            padding: 0px;
      }
    .titles {
      color: #505c75; 
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      text-align: left;
    } 
    .form-control{
      border: 1px solid #111 !important;
    }   
    /* Autocomplete
    ----------------------------------*/
    .ui-autocomplete { 
              position: absolute; 
              cursor: default; 
              border-color: #111;
              width: 200%;
            }       

    /* workarounds */
    * html .ui-autocomplete { 
                              width:1px; 
                              width: 100%;
                              } /* without this, the menu expands to 100% in IE6 */

    /* Menu
    ----------------------------------*/
    .ui-menu {
            list-style:none;
            padding: 0px;
            padding-right: 0px;
            margin: 1px;
            display:block;
            width: 20%;
            border: 1px solid #cccccc; 
    }
    .ui-menu .ui-menu {
            margin-top: 3px;
    }
    .ui-menu .ui-menu-item {
            /*margin:3px;*/
            padding: 0;
            width: 100%;
            /*border-bottom: 1px solid #cccccc;*/    
          }
    .ui-menu .ui-menu-item a {
            text-decoration:none;
            display:block;
            padding:.1em .1em;
            line-height:1.5;
            zoom:1;
            width: 100%;
    }
    .ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
            margin: 2px;
            width: 100%;
    }
    .ui-autocomplete .ui-menu-item a.ui-state-focus {
          background: #fc9ac6;
          border: 1px solid #e2076a;
          margin: .0em;
          padding:.1em .1em;
          width: 100%;
    }
    #destinations_name{
      height: 38px;
      width: 100%;
    }
    .contadorClase{
      height: 39px;    
    }
    .botonDerecho{
      background-color: #2d3e52;
      width: 35px;
      height: 39px;
    }  

    .botonIzquierdo{
      background-color: #2d3e52;
      width: 35px;
      height: 39px;
    }  
    .ui-widget-content {
                    background: #fff none 100% 100% repeat-x;
                    color: #444;
                }