.sidebar-widget {
    position: relative;
    margin-bottom: 50px;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
.blog-cat {
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.blog-cat li {
    position: relative;
    padding-left: 18px;
    border-bottom: 1px solid #efefef;
    height: 36px;
    margin-bottom: 10px;
}
.blog-cat li a {
    position: relative;
    color: #848484;
    font-size: 16px;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    display: block;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.blog-cat li a:before {
    position: absolute;
    /*content: '\f105';*/
    left: 0px;
    top: 14px;
    font-family: 'FontAwesome';
}
.blog-cat a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}


/*
====================================================================
    Sidebar Page Container
====================================================================

***/

.sidebar-page-container{
    position:relative;
    padding:80px 0px 110px;
}

.sidebar-page-container .content-side,
.sidebar-page-container .sidebar-side{
    margin-bottom:40px;
}

.blog-single{
    position:relative;
}

.blog-single .inner-box{
    position:relative;
}

.blog-single .inner-box .image{
    position:relative;
}

.blog-single .inner-box .image img{
    position:relative;
}

.blog-single .inner-box .post-info{
    position:relative;
    padding:18px 0px 10px;
    border-bottom:1px solid #efefef;
}

.blog-single .inner-box .post-info li{
    position:relative;
    color:#FF0080;
    font-size:16px;
    font-weight:300;
    padding-right:14px;
    margin-right:15px;
    margin-bottom:8px;
    display:inline-block;
}

.blog-single .inner-box .post-info li:after{
    position:absolute;
    content:'';
    right:-4px;
    top:10px;
    width:6px;
    height:6px;
    border-radius:50%;
    background-color:#dddddd;
}

.blog-single .inner-box .post-info li:last-child::after{
    display:none;
}

.blog-single .inner-box .lower-content{
    position:relative;
    padding-top:25px;
}

.blog-single .inner-box .lower-content h3{
    position:relative;
    color:#272727;
    font-size:24px;
    font-weight:700;
}

.blog-single .inner-box .lower-content .text{
    position:relative;
    margin-top:10px;
}

.blog-single .inner-box .lower-content .text p{
    position:relative;
    color:#848484;
    font-size:16px;
    font-weight:300;
    line-height:1.7em;
    margin-bottom:15px;
}

.blog-single .inner-box .lower-content .text p:last-child{
    margin-bottom:0px;
}

.blog-single .inner-box .lower-content .text blockquote{
    position:relative;
    padding:0px;
    border:0px;
    margin-bottom:30px;
}

.blog-single .inner-box .lower-content .text .row{
    margin:30px -10px 0px;
}

.blog-single .inner-box .lower-content .text .image-column,
.blog-single .inner-box .lower-content .text .quote-column{
    padding:0px 10px;
}

.blog-single .inner-box .lower-content .text .image-column .image{
    position:relative;
    margin-bottom:30px;
}

.blog-single .inner-box .lower-content .text .image-column .image img{
    position:relative;
    width:100%;
    display:block;
}

.blog-single .inner-box .lower-content .text .quote-column .quote-icon{
    position:relative;
    color:#f1f1f1;
    font-size:30px;
    line-height:1em;
    margin-bottom:15px;
}

.blog-single .inner-box .lower-content .text .quote-column .text{
    position:relative;
    color:#848484;
    font-size:16px;
    font-weight:300;
    line-height:1.8em;
    margin-bottom:15px;
}

.blog-single .inner-box .lower-content .text .quote-column .inner h3{
    position:relative;
    color:#222222;
    font-size:20px;
    font-weight:700;
    margin-bottom:5px;
    line-height:1em;
}

.blog-single .inner-box .lower-content .text .quote-column .designation{
    position:relative;
    color:#FF0080;
    font-size:16px;
}

/*post share options*/

.blog-single .inner-box .lower-content .post-share-options{
    position:relative;
    padding:20px 0px 0px;
    margin-top:40px;
    border-top:1px solid #f4f4f4;
}

.blog-single .inner-box .lower-content .post-share-options .tags span{
    font-size:18px;
    color:#222222;
    font-weight:400;
    font-family: 'Nunito Sans', sans-serif;
}

.blog-single .inner-box .lower-content .post-share-options .tags a{
    position:relative;
    color:#FF0080;
    font-size:16px;
    font-weight:300;
}

.blog-single .inner-box .lower-content .post-share-options .tags{
    position:relative;
    color:#b7b7b7;
    font-size:16px;
    font-weight:700;
    margin-bottom:8px;
}

.blog-single .inner-box .lower-content .author-box{
    position:relative;
    margin-top:40px;
    margin-bottom:50px;
}

.blog-single .inner-box .lower-content .author-box h2{
    position:relative;
    color:#222222;
    font-size:30px;
    font-weight:700;
    margin-bottom:25px;
}

.blog-single .inner-box .lower-content .author-box .author-comment{
    position:relative;
    padding:30px 30px;
    border:1px solid #f4f4f4;
}

.blog-single .inner-box .lower-content .author-box .author-comment .inner-box{
    position:relative;
    padding-left:115px;
}

.blog-single .inner-box .lower-content .author-box .author-comment .inner-box .image{
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
}

.blog-single .inner-box .lower-content .author-box .author-comment .inner-box h3{
    position:relative;
    color:#222222;
    font-size:20px;
    font-weight:700;
    margin-bottom:10px;
}

.blog-single .inner-box .lower-content .author-box .author-comment .inner-box .text{
    position:relative;
    color:#848484;
    font-size:16px;
    font-weight:300;
    line-height:1.6em;
}