.sf-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.sf-menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li.menu-normal,
.sf-menu li.menu-normal li{
  position: relative;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}
.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
}
.sf-menu .sf-mega{
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  width: 60%;
}

/* Carousel Area */
.carousel-area{
  position: relative;
}
.carousel-area .carousel{
  list-style: 0;
  margin: 0;
  padding: 0;
}
.carousel-area .carousel li{
  float: left
}
.carousel-area .carousel-nav{
  position: absolute;
  top: 40%;
  width: 100%
}
.carousel-area .carousel-nav a{
  width: 35px;
  height: 70px;
  padding-top: 25px;
  background: #414547;
  color: #fff;
  display: block;
  text-align: center;
}
.carousel-area .carousel-nav a:hover{
  background: #31A3DD;
  color: #fff;
}
.carousel-area .carousel-nav a.next{
  float: left;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.carousel-area .carousel-nav a.prev{
  float: right;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* The Nivo Slider styles */
.nivoSlider {
  position:relative;
  width:100%;
  height:auto;
  overflow: hidden;
}
.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  max-width: none;
}
.nivo-main-image {
  display: block !important;
  position: relative !important; 
  width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:2;
  display:none;
  background:white; 
  filter:alpha(opacity=0); 
  opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display:block;
  position:absolute;
  z-index:5;
  height:100%;
  top:0;
}
.nivo-box {
  display:block;
  position:absolute;
  z-index:5;
  overflow:hidden;
}
.nivo-box img { display:block; }
.nivoSlider {
  position:relative;
  background:#fff url(../images/loading.gif) no-repeat 50% 50%;
  margin-bottom:10px;
  -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
  -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
  box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
.nivoSlider a {
  border:0;
  display:block;
}
.nivo-directionNav a {
  display:block;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 3px;
  border: 2px solid #fff;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position:absolute;
  top:45%;
  z-index:6;
  cursor:pointer;
}
.nivo-directionNav a:hover{
  background: #31A3DD;
  color: #fff;
}
.nivo-directionNav a.nivo-nextNav {
  right:15px;
}
.nivo-directionNav a.nivo-prevNav {
  left:15px;
}

/* =isoTope Filter
-------------------------------------------------------------- */
.isotope-item{   
  z-index: 2 
}
.isotope-hidden.isotope-item {
 pointer-events: none;
 z-index: 1;
}
.isotope,
.isotope .isotope-item{
 -webkit-transition-duration: .6s;
 -moz-transition-duration: .6s;
 -ms-transition-duration: .6s;
 -o-transition-duration: .6s;
 transition-duration: .6s;
}
.isotope{
 -webkit-transition-property: height, width;
 -moz-transition-property: height, width;
 -ms-transition-property: height, width;
 -o-transition-property: height, width;
 transition-property: height, width;
}
.isotope .isotope-item{
 -webkit-transition-property: 0 opacity;
 -moz-transition-property: 0 opacity;
 -ms-transition-property: 0 opacity;
 -o-transition-property: top, left, opacity;
 transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{
 -webkit-transition-duration: 0;
 -moz-transition-duration: 0;
 -ms-transition-duration: 0;
 -o-transition-duration: 0;
 transition-duration: 0;
}

/* =Magnific Popup
-------------------------------------------------------------- */
.mfp-bg {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1042;
  overflow:hidden;
  position:fixed;
  background:#0b0b0b;
  opacity:0.8;
  filter:alpha(opacity=80);
}
.mfp-wrap {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1043;
  position:fixed;
  outline:none!important;
  -webkit-backface-visibility:hidden;
}
.mfp-container {
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:0 8px;
}
.mfp-container:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.mfp-content {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
  z-index:1045;
  margin:0 auto;
}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {
  width:100%;
  cursor:auto;
}
.mfp-ajax-cur {
  cursor:progress;
}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor:zoom-out;
}
.mfp-zoom {
  cursor:zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor:auto;
}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.mfp-hide {
  display:none!important;
}
.mfp-preloader {
  color:#ccc;
  position:absolute;
  top:50%;
  width:auto;
  text-align:center;
  margin-top:-.8em;
  left:8px;
  right:8px;
  z-index:1044;
}
.mfp-preloader a {
  color:#ccc;
}
.mfp-preloader a:hover {
  color:#FFF;
}
button.mfp-close,button.mfp-arrow {
  overflow:visible;
  cursor:pointer;
  background:transparent;
  border:0;
  -webkit-appearance:none;
  display:block;
  outline:none;
  z-index:1046;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:0;
}
button::-moz-focus-inner {
  border:0;
  padding:0;
}
.mfp-close {
  width:44px;
  height:44px;
  line-height:44px;
  position:absolute;
  right:0;
  top:0;
  text-decoration:none;
  text-align:center;
  opacity:0.65;
  color:#FFF;
  font-style:normal;
  font-size:28px;
  font-family:Arial, Baskerville, monospace;
  padding:0 0 18px 10px;
}
.mfp-close:active {
  top:1px;
}
.mfp-close-btn-in .mfp-close {
  color:#333;
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
  color:#FFF;
  right:-6px;
  text-align:right;
  padding-right:6px;
  width:100%;
}
.mfp-counter {
  position:absolute;
  top:0;
  right:0;
  color:#ccc;
  font-size:12px;
  line-height:18px;
}
.mfp-arrow {
  position:absolute;
  opacity:0.65;
  top:50%;
  width:90px;
  height:110px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  margin:-55px 0 0;
  padding:0;
}
.mfp-arrow:active {
  margin-top:-54px;
}
.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  left:0;
  top:0;
  margin-top:35px;
  margin-left:35px;
  border:medium inset transparent;
}
.mfp-arrow:after,.mfp-arrow .mfp-a {
  border-top-width:13px;
  border-bottom-width:13px;
  top:8px;
}
.mfp-arrow:before,.mfp-arrow .mfp-b {
  border-top-width:21px;
  border-bottom-width:21px;
}
.mfp-arrow-left {
  left:0;
}
.mfp-arrow-left:after,.mfp-arrow-left .mfp-a {
  border-right:17px solid #FFF;
  margin-left:31px;
}
.mfp-arrow-left:before,.mfp-arrow-left .mfp-b {
  margin-left:25px;
  border-right:27px solid #3f3f3f;
}
.mfp-arrow-right {
  right:0;
}
.mfp-arrow-right:after,.mfp-arrow-right .mfp-a {
  border-left:17px solid #FFF;
  margin-left:39px;
}
.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {
  border-left:27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top:40px;
  padding-bottom:40px;
}
.mfp-iframe-holder .mfp-content {
  line-height:0;
  width:100%;
  max-width:900px;
}
.mfp-iframe-holder .mfp-close {
  top:-40px;
}
.mfp-iframe-scaler {
  width:100%;
  height:0;
  overflow:hidden;
  padding-top:56.25%;
}
.mfp-iframe-scaler iframe {
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow:0 0 8px rgba(0,0,0,0.6);
  background:#000;
}
img.mfp-img {
  width:auto;
  max-width:100%;
  height:auto;
  display:block;
  line-height:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto;
  padding:40px 0;
}
.mfp-figure {
  line-height:0;
}
.mfp-figure:after {
  content:'';
  position:absolute;
  left:0;
  top:40px;
  bottom:40px;
  display:block;
  right:0;
  width:auto;
  height:auto;
  z-index:-1;
  box-shadow:0 0 8px rgba(0,0,0,0.6);
  background:#444;
}
.mfp-figure small {
  color:#bdbdbd;
  display:block;
  font-size:12px;
  line-height:14px;
}
.mfp-bottom-bar {
  margin-top:-36px;
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  cursor:auto;
}
.mfp-title {
  text-align:left;
  line-height:18px;
  color:#f3f3f3;
  word-wrap:break-word;
  padding-right:36px;
}
.mfp-image-holder .mfp-content {
  max-width:100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor:pointer;
}
.mfp-ie7 .mfp-bottom-bar {
  width:600px;
  left:50%;
  margin-left:-300px;
  margin-top:5px;
  padding-bottom:5px;
}
.mfp-ie7 .mfp-content {
  padding-top:44px;
}
.mfp-ie7 .mfp-close {
  top:0;
  right:0;
  padding-top:0;
}
.mfp-align-top .mfp-container:before,.mfp-loading.mfp-figure,.mfp-s-ready .mfp-preloader,.mfp-s-error .mfp-content {
  display:none;
}
.mfp-close:hover,.mfp-close:focus,.mfp-arrow:hover,.mfp-arrow:focus {
  opacity:1;
}
.mfp-ie7 .mfp-img,.mfp-ie7 .mfp-container {
  padding:0;
}
@media screen and max-width 800px and orientation landscape,screen and max-height 300px{
  .mfp-img-mobile .mfp-image-holder {
    padding-left:0;
    padding-right:0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top:0;
    bottom:0;
  }
  .mfp-img-mobile .mfp-figure small {
    display:inline;
    margin-left:5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background:rgba(0,0,0,0.6);
    bottom:0;
    top:auto;
    position:fixed;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:3px 5px;
  }
  .mfp-img-mobile .mfp-counter {
    right:5px;
    top:3px;
  }
  .mfp-img-mobile .mfp-close {
    top:0;
    right:0;
    width:35px;
    height:35px;
    line-height:35px;
    background:rgba(0,0,0,0.6);
    position:fixed;
    text-align:center;
    padding:0;
  }
  .mfp-img-mobile img.mfp-img,.mfp-img-mobile .mfp-bottom-bar:empty {
    padding:0;
  }
}
@media all and max-width 900px{
  .mfp-arrow {
    -webkit-transform:scale(0.75);
    transform:scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin:0;
    transform-origin:0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin:100%;
    transform-origin:100%;
  }
  .mfp-container {
    padding-left:6px;
    padding-right:6px;
  }
}


/*
  jQuery.mmenu CSS
  */
html.mm-opened .mm-page,
html.mm-opened #mm-blocker,
html.mm-opened .mm-fixed-top,
html.mm-opened .mm-fixed-bottom,
html.mm-opened .mm-menu.mm-horizontal > .mm-panel{
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border;
  -moz-transition-property: top, right, bottom, left, border;
  -ms-transition-property: top, right, bottom, left, border;
  -o-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border; 
}
html.mm-opened .mm-page,
html.mm-opened #mm-blocker{
  left: 0%;
  top: 0;
  margin: 0;
  border: 0px solid rgba(0, 0, 0, 0); 
}
html.mm-opened.mm-opening .mm-page,
html.mm-opened.mm-opening #mm-blocker{
  border: 0px solid rgba(100, 100, 100, 0); 
}
.mm-menu .mm-hidden{
  display: none; 
}
.mm-fixed-top,
.mm-fixed-bottom{
  position: fixed;
  left: 0; 
}
.mm-fixed-top{
  top: 0; 
}
.mm-fixed-bottom{
  bottom: 0; 
}
html.mm-opened .mm-page,
.mm-menu > .mm-panel{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
}
html.mm-opened,
html.mm-opened body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
}
html.mm-opened .mm-page{
  height: 100%;
  overflow: hidden;
  position: absolute; 
}
html.mm-background .mm-page{
  background: inherit; 
}
#mm-blocker{
  background: #fff;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999; 
}
html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker{
  display: block; 
}
.mm-menu.mm-current{
  display: block; 
}
.mm-menu{
  background: inherit;
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; 
}
.mm-menu > .mm-panel{
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0; 
}
.mm-menu > .mm-panel.mm-opened{
  left: 0%; 
}
.mm-menu > .mm-panel.mm-subopened{
  left: -40%; 
}
.mm-menu > .mm-panel.mm-highest{
  z-index: 1; 
}
.mm-menu > .mm-panel.mm-hidden{
  display: block;
  visibility: hidden; 
}
.mm-menu .mm-list{
  padding: 20px 0; 
}
.mm-menu > .mm-list{
  padding: 20px 0 40px 0; 
}
.mm-panel > .mm-list{
  margin-left: -20px;
  margin-right: -20px; 
}
.mm-panel > .mm-list:first-child{
  padding-top: 0; 
}
.mm-list,
.mm-list > li{
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; 
}
.mm-list{
  font: inherit;
  font-size: 14px; 
}
.mm-list a,
.mm-list a:hover{
  text-decoration: none; 
}
.mm-list > li{
  position: relative; 
}
.mm-list > li > a,
.mm-list > li > span{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0; 
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults)::after{
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; 
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after{
  width: auto;
  margin-left: 20px;
  position: relative;
  left: auto; 
}
.mm-list a.mm-subopen{
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; 
}
.mm-list a.mm-subopen::before{
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}
.mm-list a.mm-subopen.mm-fullsubopen{
  width: 100%; 
}
.mm-list a.mm-subopen.mm-fullsubopen:before{
  border-left: none; 
}
.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span{
  padding-right: 5px;
  margin-right: 40px; 
}
.mm-list > li.mm-selected > a.mm-subopen{
  background: transparent; 
}
.mm-list > li.mm-selected > a.mm-fullsubopen + a,
.mm-list > li.mm-selected > a.mm-fullsubopen + span{
  padding-right: 45px;
  margin-right: 0; 
}
.mm-list a.mm-subclose{
  text-indent: 20px;
  padding-top: 30px;
  margin-top: -20px; 
}
.mm-list > li.mm-label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
  padding-right: 5px; 
}
.mm-list > li.mm-spacer{
  padding-top: 40px; 
}
.mm-list > li.mm-spacer.mm-label{
  padding-top: 25px; 
}
.mm-list a.mm-subopen:after,
.mm-list a.mm-subclose:before{
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 7px;
  height: 7px;
  margin-bottom: -5px;
  position: absolute;
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}
.mm-list a.mm-subopen:after{
  border-top: none;
  border-left: none;
  right: 18px; 
}
.mm-list a.mm-subclose:before{
  border-right: none;
  border-bottom: none;
  margin-bottom: -15px;
  left: 22px; 
}
.mm-menu.mm-vertical .mm-list .mm-panel{
  display: none;
  padding: 10px 0 10px 10px; 
}
.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after{
  border-color: transparent; 
}
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel{
  display: block; 
}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen{
  height: 40px; 
}
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  right: 16px; 
}
html.mm-opened .mm-page{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.mm-ismenu{
  background: #333333; 
}
.mm-menu{
  color: rgba(255, 255, 255, 0.6); 
}
.mm-menu .mm-list > li:after{
  border-color: rgba(0, 0, 0, 0.15); 
}
.mm-menu .mm-list > li > a.mm-subclose{
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3); 
}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before{
  border-color: rgba(255, 255, 255, 0.3); 
}
.mm-menu .mm-list > li > a.mm-subopen:before{
  border-color: rgba(0, 0, 0, 0.15); 
}
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span{
  background: rgba(0, 0, 0, 0.1); 
}
.mm-menu .mm-list > li.mm-label{
  background: rgba(255, 255, 255, 0.05); 
}
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul{
  background: rgba(255, 255, 255, 0.05); 
}
html.mm-opened.mm-opening .mm-page,
html.mm-opened.mm-opening #mm-blocker,
html.mm-opened.mm-opening .mm-fixed-top,
html.mm-opened.mm-opening .mm-fixed-bottom{
  left: 80%; 
}
.mm-menu{
  width: 80%; 
}
@media all and (max-width: 175px){
  .mm-menu{
    width: 140px;
  }
  html.mm-opened.mm-opening .mm-page,
  html.mm-opened.mm-opening #mm-blocker,
  html.mm-opened.mm-opening .mm-fixed-top,
  html.mm-opened.mm-opening .mm-fixed-bottom{
    left: 140px; 
  } 
}
@media all and (min-width: 550px){
  .mm-menu{
    width: 440px; 
  }
  html.mm-opened.mm-opening .mm-page,
  html.mm-opened.mm-opening #mm-blocker,
  html.mm-opened.mm-opening .mm-fixed-top,
  html.mm-opened.mm-opening .mm-fixed-bottom{
    left: 440px; 
  } 
}
html.mm-nooverflowscrolling.mm-opened{
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll; 
}
html.mm-nooverflowscrolling.mm-opened body{
  overflow: auto; 
}
html.mm-nooverflowscrolling.mm-opened .mm-page{
  min-height: 1000px;
  position: fixed; 
}
html.mm-nooverflowscrolling.mm-opened .mm-menu{
  height: auto;
  min-height: 1000px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  left: auto;
  top: auto; 
}
html.mm-nooverflowscrolling.mm-opened > .mm-panel{
  position: relative;
  height: auto;
  display: none;
  left: 0; 
}
html.mm-nooverflowscrolling.mm-opened > .mm-panel.mm-current{
  display: block; 
}
/*
jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top{
  width: 100%; 
}
html.mm-top.mm-opened .mm-page,
html.mm-top.mm-opened #mm-blocker{
  top: 0%; 
}
html.mm-top.mm-opened.mm-opening .mm-page,
html.mm-top.mm-opened.mm-opening #mm-blocker,
html.mm-top.mm-opened.mm-opening .mm-fixed-top,
html.mm-top.mm-opened.mm-opening .mm-fixed-bottom{
  left: 0; 
}
.mm-menu.mm-right{
  left: auto;
  right: 0; 
}
html.mm-right.mm-opened .mm-page,
html.mm-right.mm-opened #mm-blocker,
html.mm-right.mm-opened .mm-fixed-top,
html.mm-right.mm-opened .mm-fixed-bottom{
  left: auto;
  right: 0%;
}
html.mm-right.mm-opened.mm-opening .mm-page,
html.mm-right.mm-opened.mm-opening #mm-blocker,
html.mm-right.mm-opened.mm-opening .mm-fixed-top,
html.mm-right.mm-opened.mm-opening .mm-fixed-bottom{
  left: auto; 
}
.mm-menu.mm-bottom{
  width: 100%;
  top: auto;
  bottom: 0; 
}
html.mm-bottom.mm-opened .mm-page,
html.mm-bottom.mm-opened #mm-blocker{
  bottom: 0%;
  top: auto; 
}
html.mm-bottom.mm-opened.mm-opening .mm-page,
html.mm-bottom.mm-opened.mm-opening #mm-blocker,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-top,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom{
  top: auto;
  left: 0; 
}
.mm-menu.mm-top{
  height: 80%; 
}
html.mm-top.mm-opened.mm-opening .mm-page,
html.mm-top.mm-opened.mm-opening #mm-blocker,
html.mm-top.mm-opened.mm-opening .mm-fixed-top{
  top: 80%; 
}
html.mm-top.mm-opened.mm-opening .mm-fixed-bottom{
  bottom: -80%; 
}
@media all and (max-height: 175px){
  .mm-menu.mm-top{
    height: 140px; 
  }
  html.mm-top.mm-opened.mm-opening .mm-page,
  html.mm-top.mm-opened.mm-opening #mm-blocker,
  html.mm-top.mm-opened.mm-opening .mm-fixed-top{
    top: 140px; 
  }
  html.mm-top.mm-opened.mm-opening .mm-fixed-bottom{
    bottom: -140px; 
  } 
}
@media all and (min-height: 1100px){
  .mm-menu.mm-top{
    height: 880px; 
  }
  html.mm-top.mm-opened.mm-opening .mm-page,
  html.mm-top.mm-opened.mm-opening #mm-blocker,
  html.mm-top.mm-opened.mm-opening .mm-fixed-top{
    top: 880px; 
  }
  html.mm-top.mm-opened.mm-opening .mm-fixed-bottom{
    bottom: -880px; 
  } 
}
.mm-menu.mm-right{
  width: 80%; 
}
html.mm-right.mm-opened.mm-opening .mm-page,
html.mm-right.mm-opened.mm-opening #mm-blocker,
html.mm-right.mm-opened.mm-opening .mm-fixed-top,
html.mm-right.mm-opened.mm-opening .mm-fixed-bottom{
  right: 80%; 
}
@media all and (max-width: 175px){
  .mm-menu.mm-right{
    width: 140px; 
  }
  html.mm-right.mm-opened.mm-opening .mm-page,
  html.mm-right.mm-opened.mm-opening #mm-blocker,
  html.mm-right.mm-opened.mm-opening .mm-fixed-top,
  html.mm-right.mm-opened.mm-opening .mm-fixed-bottom{
    right: 140px; 
  } 
}
@media all and (min-width: 550px){
  .mm-menu.mm-right{
    width: 440px; 
  }
  html.mm-right.mm-opened.mm-opening .mm-page,
  html.mm-right.mm-opened.mm-opening #mm-blocker,
  html.mm-right.mm-opened.mm-opening .mm-fixed-top,
  html.mm-right.mm-opened.mm-opening .mm-fixed-bottom{
    right: 440px; 
  } 
}
.mm-menu.mm-bottom{
  height: 80%; 
}
html.mm-bottom.mm-opened.mm-opening .mm-page,
html.mm-bottom.mm-opened.mm-opening #mm-blocker,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom{
  bottom: 80%; 
}
html.mm-bottom.mm-opened.mm-opening .mm-fixed-top{
  top: -80%; 
}
@media all and (max-height: 175px){
  .mm-menu.mm-bottom{
    height: 140px; 
  }
  html.mm-bottom.mm-opened.mm-opening .mm-page,
  html.mm-bottom.mm-opened.mm-opening #mm-blocker,
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom{
    bottom: 140px; 
  }
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-top{
    top: -140px; 
  } 
}
@media all and (min-height: 1100px){
  .mm-menu.mm-bottom{
    height: 880px; 
  }
  html.mm-bottom.mm-opened.mm-opening .mm-page,
  html.mm-bottom.mm-opened.mm-opening #mm-blocker,
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom{
    bottom: 880px; 
  }
  html.mm-bottom.mm-opened.mm-opening .mm-fixed-top{
    top: -880px; 
  } 
}
/*
jQuery.mmenu z-position extension CSS
*/
html.mm-front.mm-opened .mm-page{
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important; 
}
.mm-menu.mm-front,
.mm-menu.mm-next{
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, -webkit-transform;
  -moz-transition-property: top, right, bottom, left, -moz-transform;
  -ms-transition-property: top, right, bottom, left, -o-transform;
  -o-transition-property: top, right, bottom, left, -o-transform;
  transition-property: top, right, bottom, left, transform; 
}
html.mm-front .mm-page,
html.mm-front #mm-blocker{
  z-index: 0; 
}
.mm-menu.mm-front{
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}
html.mm-opened.mm-next .mm-page{
  box-shadow: none; 
}
html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next{
  left: 0%; 
}
.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next{
  left: 0; 
}
html.mm-opening .mm-menu.mm-top.mm-front, html.mm-opening .mm-menu.mm-top.mm-next{
  left: 0;
  top: 0%; 
}
.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next{
  left: auto; 
}
html.mm-opening .mm-menu.mm-right.mm-front, html.mm-opening .mm-menu.mm-right.mm-next{
  left: auto;
  right: 0%; 
}
.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next{
  top: auto;
  left: 0; 
}
html.mm-opening .mm-menu.mm-bottom.mm-front, html.mm-opening .mm-menu.mm-bottom.mm-next{
  left: 0;
  bottom: 0%; 
}
.mm-menu.mm-front, .mm-menu.mm-next{
  left: -80%; 
}
@media all and (max-width: 175px){
  .mm-menu.mm-front, .mm-menu.mm-next{
    left: -140px; 
  } 
}
@media all and (min-width: 550px){
  .mm-menu.mm-front, .mm-menu.mm-next{
    left: -440px; 
  } 
}
.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next{
  top: -80%; 
}
@media all and (max-height: 175px){
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next{
    top: -140px;
  } 
}
@media all and (min-height: 1100px){
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next{
    top: -880px; 
  } 
}
.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next{
  right: -80%; 
}
@media all and (max-width: 175px){
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next{
    right: -140px; 
  } 
}
@media all and (min-width: 550px){
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next{
    right: -440px; 
  } 
}
.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next{
  bottom: -80%; 
}
@media all and (max-height: 175px){
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next{
    bottom: -140px; 
  } 
}
@media all and (min-height: 1100px){
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next{
    bottom: -880px; 
  } 
}
html.mm-opened.mm-front .mm-fixed-top,
html.mm-opened.mm-front .mm-fixed-bottom,
html.mm-opened.mm-opening.mm-front .mm-fixed-top,
html.mm-opened.mm-opening.mm-front .mm-fixed-bottom{
  left: 0;
  right: auto; 
}
html.mm-opened.mm-front .mm-fixed-top,
html.mm-opened.mm-opening.mm-front .mm-fixed-top{
  top: 0; 
}
html.mm-opened.mm-front .mm-fixed-bottom,
html.mm-opened.mm-opening.mm-front .mm-fixed-bottom{
  bottom: 0; 
}